@keyframes fadeIn
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.lets-move.fade-in
{
    -webkit-animation: fadeIn 2s;
            animation: fadeIn 2s;
}

@for $i from 1 through 10
{
    .lets-move.fade-in-#{$i}s
    {
        -webkit-animation: fadeIn #{$i}s;
                animation: fadeIn #{$i}s;
    }
}
